@{
    Layout = null;
}
@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
    <link rel="stylesheet" type="text/css" href="~/NewFolder/test.css" />

}



<!--HỆ THỐNG THÔNG TIN QUẢN LÝ LAO ĐỘNG-->

<li class="menu-section">
    <h4 class="menu-text" style="color:#3699FF">Quản lý</h4>
    <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
</li>
<!-- I -->
<li class="menu-item" aria-haspopup="true" data-menu-toggle="hover" id="menu_lohang" title="menu_lohang">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text">Lô hàng</span>
    </a>
    <div class="menu-submenu">
        <i class="menu-arrow"></i>
        <ul class="menu-subnav">
            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu_lohang_danhsach" title="danhsach">
                <a class="menu-link menu-toggle" asp-controller="QlLoHang" asp-action="Index">
                    <i class="menu-bullet menu-bullet-line">
                        <span></span>
                    </i>
                    <span class="menu-text">Thông tin về lô hàng</span>
                    <i class="menu-arrow"></i>
                </a>
            </li>
            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu_dg">
                <a class="menu-link menu-toggle" asp-controller="GoogleForm" asp-action="Index">
                    <i class="menu-bullet menu-bullet-line">
                        <span></span>
                    </i>
                    <span class="menu-text">Tạo form field</span>
                    <i class="menu-arrow"></i>
                </a>
            </li>
        </ul>
    </div>
</li>

